body {
    background-color: gainsboro;
    text-align: center;
}


ul {
    max-width: 400px;
    margin: 0 auto 50px auto;
    text-align: justify;
}

li {
    font-family: Roboto, sans-serif;
    line-height: 150%;

}

#tagline {
    font-size: 1.5em;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#headline {
    margin: 50px 0;
}